/* @import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/bauhaus-pattern.jpg");
  font-family: "Staatliches", "Oswald", Arial, sans-serif;
  padding-top: 2rem;
}

nav li,
nav a {
  padding-left: 2rem;
}

.container-content {
  margin-top: 1rem;
}

.container-carousel {
  margin-top: 0;
}

.carousel {
  max-height: 99vh;
  overflow: hidden;
  background-color: rgba(29, 29, 45, 60%);
}

.carousel-item img {
  width: 100%;
  height: auto;
  max-height: 99vh;
  object-fit: scale-down;
}

.carousel-caption {
  display: flex;
  align-items: center;
}

.carousel-caption h5,
.carousel-caption p {
  background-color: rgba(29, 29, 45, 60%);
  max-width: fit-content;
}

.divider {
  height: 40px;
  background-color: white;
  border: none;
}

.authors {
  padding: 0 2rem 1rem 2rem;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
}

.card {
  border: rgba(255, 255, 255, 50%) 5px solid;
  border-radius: 0;
}

.collapse-content {
  display: none;
}

footer {
  background-color: white;
  color: black;
  padding: 2rem 2rem 1rem 0;
  text-align: center;
  font-family: "Oswald", Arial, sans-serif;
  font-style: italic;
  text-align: end;
}
